$base-background-color: #000;
$base-white-color: #efefef;

// Main color variables
$primary-green: #00FF00;
$accent-green: #059005;
$text-black: #232228;
$text-white: #FFFFFF;
$text-primary-gradient: linear-gradient(96.63deg, #FFFFFF 5.78%, #00FF00 72.85%);
$text-secondary-gradient: linear-gradient(251.46deg, #FFFFFF 13.67%, #00FF00 124.09%);
$text-stroke-gradient: linear-gradient(96.63deg, #FFFFFF 5.78%, #00FF00 72.85%);
$text-stroke-gradient-second: linear-gradient(96.63deg, #00FF00 5.78%, #FFFFFF 72.85%);

//Black Variants
$black-100: #232228;
$black-90: #464742;
$black-70: #656561;
$black-50: #848481;
$black-25: #A2A3A0;
$black-10: #C1C1C0;
$black-5: #E0E0DF;

//Andrii color variables
$black-text: #232323;
$white-text: #efefef;
$gray-base: #808080;
$gray-hover: #afafaf;
$app-accent: #00FF00D8;
$error: #FF0000AA;


//Anton color variables
$green-dark: #00bd00;
$green-light: #00fd00;
$black-transparent: #00000000;