$base-background-color: #000;
$base-white-color: #efefef;

// Main color variables
$primary-green: #00ff00;
$accent-green: #059005;
$text-black: #232228;
$text-white: #ffffff;
$text-primary-gradient: linear-gradient(96.63deg, #ffffff 5.78%, #00ff00 72.85%);
$text-secondary-gradient: linear-gradient(251.46deg, #ffffff 13.67%, #00ff00 124.09%);
$text-stroke-gradient: linear-gradient(96.63deg, #ffffff 5.78%, #00ff00 72.85%);
$text-stroke-gradient-second: linear-gradient(96.63deg, #00ff00 5.78%, #ffffff 72.85%);

//Black Variants
$black-100: #232228;
$black-90: #464742;
$black-70: #656561;
$black-50: #848481;
$black-25: #a2a3a0;
$black-10: #c1c1c0;
$black-5: #e0e0df;

//Andrii color variables
$black-text: #232323;
$white-text: #efefef;
$gray-base: #808080;
$gray-hover: #afafaf;
$app-accent: #00ff00d8;
$error: #ff0000aa;

//Anton color variables
$green-dark: #00bd00;
$green-light: #00fd00;
$black-transparent: #00000000;
