// Font-size
$font-size-h1: 130px; // 8.125em (130px)
$font-size-h2: 90px;  // 5.625em (90px)
$font-size-h3: 85px;  // 5.3125em (85px)
$font-size-h4: 48px;  // 3em (48px)
$font-size-h5: 40px;  // 2.5em (40px)
$font-size-h6: 32px;  // 2em (32px)
$font-size-paragraph: 24px; // 1.5em (24px)
$font-size-button: 24px;    // 1.5em (24px)

// Font-weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;