@use './../../shared/styles/mixins/no-user-text-selection' as n;
@use './../../shared/styles/mixins/responsive' as r;
@use './../../shared/styles/variables/colors' as colors;
@use './../../shared/styles/variables/fonts' as fonts;

$text-color--accent: colors.$primary-green;

$font-size--header: 65px;
$font-size--info: 20px;
$font-size--info-icon: 22px;

.contact-us {
  &__form {
    @include n.no-user-text-selection;
    display: flex;
    justify-content: space-around;
    width: 100%;

    @include r.responsive(tablet-large) {
      flex-direction: column;
      align-items: center;
    }

    @include r.responsive(tablet) {
      flex-direction: column;
      align-items: center;
    }

    @include r.responsive(phone-large) {
      flex-direction: column;
      align-items: center;
    }

    @include r.responsive(phone) {
      flex-direction: column;
      align-items: center;
    }

    &-right-container-box, &-left-container {
      width: 42%;

      @include r.responsive(tablet-large) {
        width: 80%;
      }

      @include r.responsive(tablet) {
        width: 80%;
      }

      @include r.responsive(phone-large) {
        width: 80%;
      }

      @include r.responsive(phone) {
        width: 80%;
      }
    }
    &-left-container {
      @include r.responsive(tablet-large) {
        margin-bottom: 60px;
      }

      @include r.responsive(tablet) {
        margin-bottom: 60px;
      }

      @include r.responsive(phone-large) {
        margin-bottom: 60px;
      }

      @include r.responsive(phone) {
        margin-bottom: 60px;
      }
    }

    &-right-container-box {
      background: colors.$text-stroke-gradient;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 2em;
      padding: 1.5px;
    }

    &-right-container {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background: colors.$base-background-color;
      color: $text-color--accent;
      padding: 30px 15px;
    }

    &-title-container {
      font-size: fonts.$font-size-h4;
      font-weight: bold;
      background-color: colors.$base-background-color;
      background-image: colors.$text-stroke-gradient;
      text-transform: uppercase;
      text-wrap: nowrap;
      background-size: 100%;
      background-repeat: repeat;
      overflow: visible;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;

      @include r.responsive(desktop) {
        font-size: fonts.$font-size-h5;
      }

      @include r.responsive(tablet-large) {
        font-size: fonts.$font-size-h5;
        text-wrap: wrap;
      }

      @include r.responsive(tablet) {
        font-size: fonts.$font-size-h5;
        text-wrap: wrap;
      }

      @include r.responsive(phone-large) {
        font-size: fonts.$font-size-h5;
        text-wrap: wrap;
      }

      @include r.responsive(phone) {
        font-size: fonts.$font-size-h5;
        text-wrap: wrap;
      }
    }

    &-user-name, &-user-email, &-user-message{
      margin-bottom: 5px;
    }

    &-user-name, &-user-email{
      height: 100px;
    }

    &-user-message {
      min-height: 100px;
    }
  }
}