@use "./../../../shared/styles/mixins/no-user-text-selection" as n;
@use "./../../../shared/styles/mixins/responsive" as r;
@use "./../../../shared/styles/variables/colors" as colors;
@use "./../../../shared/styles/variables/fonts" as fonts;

$font-size-h1-responsive: clamp(24px, 6vw, fonts.$font-size-h1);
$font-size-h4-responsive: clamp(14px, 3vw, fonts.$font-size-h4);
$font-size-h5-responsive: clamp(18px, 3vw, fonts.$font-size-h5);
$font-size-paragraph-responsive: clamp(12px, 1.2vw, fonts.$font-size-paragraph);

.description-card {
  margin-bottom: clamp(20px, 3vw, 50px);
  @include n.no-user-text-selection;

  &__slogan {
    &-border {
      background-image: url(../../../assets/images/borders/home_company_card_border_top.svg);
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      padding: clamp(5px, 1vw, 15px) 5px 0;

      &-text {
        font-size: $font-size-h1-responsive;
        font-weight: fonts.$font-weight-regular;
        padding-top: 30px;
        font-family: "Inter";
        text-transform: uppercase;
        line-height: calc(#{$font-size-h1-responsive} * 1);
        background: colors.$text-primary-gradient;
        display: inline-block;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__content {
    display: flex;
    margin: clamp(30px, 6vw, 150px) 0 clamp(20px, 5vw, 100px);
    justify-content: space-around;
    align-items: center;

    &-logo {
      img {
        max-width: clamp(60px, 12vw, 256px);
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        z-index: 1;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-touch-callout: none;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: clamp(16px, 8vw, 250px);

      &-message {
        font-size: $font-size-h5-responsive;
        font-weight: fonts.$font-weight-regular;
        font-family: "Inter";
        line-height: calc(#{$font-size-h5-responsive} * 1);
        margin-bottom: 16px;
        background: colors.$text-primary-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &-list {
        margin-left: 24px;

        &-item {
          font-size: $font-size-paragraph-responsive;
          font-weight: fonts.$font-weight-regular;
          font-family: "Inter";
        }
      }
    }
  }

  &__short-description {
    font-size: $font-size-h4-responsive;
    font-weight: fonts.$font-weight-bold;
    font-family: "Montserrat";
    line-height: calc(#{$font-size-h4-responsive} * 1);
    padding: 0 20px clamp(5px, 1vw, 15px);
    background-image: url(../../../assets/images/borders/home_company_card_border_bottom.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
}

.description-card-2 {
  &__slogan {
    display: flex;
    justify-content: end;
  }

  &__content {
    &-logo {
      order: 2;

      img {
        max-width: clamp(60px, 11vw, 220px);
      }
    }

    &-details {
      order: 1;
      margin-left: 0px;
    }
  }
}

.description-card-3 {
  &__content {
    &-logo {
      img {
        max-width: clamp(100px, 18vw, 260px);
      }
    }
  }
}
