@use "./../../shared/styles/mixins/no-user-text-selection" as n;
@use "./../../shared/styles/mixins/responsive" as r;
@use "./../../shared/styles/variables/colors" as colors;
@use "./../../shared/styles/variables/fonts" as fonts;

$backgroud-color: colors.$base-background-color;
$text-color--accent: colors.$primary-green;
$font-size-toggle-button-responsive: clamp(14px, 2vw, 22px);

.language_menu {
  position: relative;
  width: clamp(84px, 15vw, 130px);
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .toggle {
    position: relative;
    width: clamp(40px, 7vw, 60px);
    aspect-ratio: 1/1;
    background-color: $backgroud-color;
    border-radius: 100%;
    z-index: 1;
    cursor: pointer;
    font-size: $font-size-toggle-button-responsive;
    font-family: "Montserrat";
    font-weight: fonts.$font-weight-semibold;
    border: none;
    transition: color 1.25s;
    color: $text-color--accent;
    animation: pulseText 3s infinite;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: clamp(40px, 7vw, 60px);
      aspect-ratio: 1/1;
      background-size: contain;
      background-repeat: no-repeat;
      transition: transform 2.5s ease;
      transform-origin: center;
    }

    &::before {
      background-image: url("../../assets/images/vectors/language_switch_frame_1.svg");
    }

    &::after {
      background-image: url("../../assets/images/vectors/language_switch_frame_2.svg");
    }
  }

  .toggle:hover::before {
    transform: rotate(270deg);
  }

  .toggle:hover::after {
    transform: rotate(-270deg);
  }

  .toggle.closed::before {
    transform: rotate(270deg);
  }

  .toggle.closed::after {
    transform: rotate(-270deg);
  }

  @keyframes pulseText {
    0% {
      color: $text-color--accent;
      text-shadow: 0 0 10px $text-color--accent;
    }

    50% {
      color: rgba(0, 255, 0, 0.5);
      text-shadow: 0 0 20px rgba(0, 255, 0, 0.3);
    }

    100% {
      color: $text-color--accent;
      text-shadow: 0 0 10px $text-color--accent;
    }
  }

  li {
    position: absolute;
    top: 5px;
    left: 0;
    list-style: none;
    transition: 0.5s;
    transform: rotate(calc(-128deg / 3 * var(--i)));
    transform-origin: clamp(70px, 11vw, 100px);
    scale: 0;
    transition-delay: calc(0.05s * var(--i));

    &.visible {
      scale: 1;
      transform: rotate(calc(-150deg / 3 * var(--i))) translateY(0);
    }

    button {
      position: relative;
      transform: rotate(calc(-144deg / -3 * var(--i)));
      width: clamp(40px, 5vw, 50px);
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: $backgroud-color;
      font-size: clamp(12px, 2vw, 18px);
      font-weight: fonts.$font-weight-medium;
      font-family: "Montserrat";
      color: rgba(0, 255, 0, 0.5);
      cursor: pointer;
      box-shadow: 0 3px 4px #00000026;
      transition: color 0.5s, text-shadow 0.5s, transform 0.5s;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: clamp(40px, 5vw, 50px);
        aspect-ratio: 1/1;
        background-size: contain;
        background-repeat: no-repeat;
        transform-origin: center;
        transition: transform 2.5s ease;
        animation: rotateFrame 15s infinite linear;
      }

      &::before {
        background-image: url("../../assets/images/vectors/language_switch_frame_1.svg");
      }

      &::after {
        background-image: url("../../assets/images/vectors/language_switch_frame_2.svg");
        animation-direction: reverse;
      }

      @keyframes rotateFrame {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }

      &:hover {
        color: $text-color--accent;
        text-shadow: 0 0 10px $text-color--accent;
        transform: scale(1.1) rotate(calc(-144deg / -3 * var(--i)));
      }
    }
  }
}

.language_menu.active .toggle {
  color: $text-color--accent;
  text-shadow: 0 0 10px $text-color--accent;
  animation: none;
}
