@use "./../../shared/styles/mixins/responsive" as r;
@use "./../../shared/styles/mixins/no-user-text-selection" as n;
@use "./../../shared/styles/variables/colors" as colors;
@use "./../../shared/styles/variables/fonts" as fonts;

$text-color--accent: colors.$primary-green;
$font-size-h6-responsive: clamp(20px, 3vw, fonts.$font-size-h6);
$font-size-paragraph-responsive: clamp(16px, 3vw, fonts.$font-size-paragraph);

.header {
  height: clamp(110px, 20vw, 180px);
  padding-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include n.no-user-text-selection;

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo__image {
      max-width: clamp(65px, 8vw, 115px);
      height: clamp(45px, 6vw, 95px);
      user-select: none;
      -webkit-user-drag: none;
      -webkit-touch-callout: none;
    }

    .logo__text {
      font-size: $font-size-paragraph-responsive;
      font-weight: fonts.$font-weight-semibold;
      font-family: "Montserrat";
      text-transform: uppercase;

      span {
        color: $text-color--accent;
      }
    }

    &-container {
      position: relative;
    }
  }

  &__language-switch-container {
    margin-right: clamp(2px, 1vw, 10px);
    position: absolute;
    right: 0;
    margin-right: 20px;
    z-index: 30;
  }
}
