@use './shared/styles/variables/colors' as colors;
@import 'shared/styles/base/global-fonts';
@import 'shared/styles/base/spacings';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.App {
  background-color: colors.$base-background-color;
  color: colors.$base-white-color;
  height: 100%;
  width: 100%;
}
